@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Wednesday theme tweaks */
a:hover {
  opacity: 0.8;
}
